:root{
    color-scheme: dark only;
    --border: #7a7a7b;
  --bg2:#101012;
  --bg:#0c0c0c;
  --bg3:#252525;
  --t:#fefefe;
    --danger:#e31430;
    --tip:#fc3a78;
    font-size: 0.95em;
    font-family: 'Roboto', sans-serif;
/*     font-family: sans-serif */
}
body{
    background: #000;
/*     overflow: hidden */
}
#main{
    --itchio_font_family: 'Source Code Pro';
  --itchio_bg_color: #0b0b0d;
  --itchio_bg2_color: rgba(16, 16, 18, 1);
  --itchio_bg2_sub: #272729;
  --itchio_text_color: #eaeaea;
  --itchio_link_color: #fc3a78;
  --itchio_border_color: #343439;
  --itchio_button_color: #fc3a78;
  --itchio_button_fg_color: #ffffff;
  --itchio_button_shadow_color: #ff4d8b;
/*     min-height: 1000px !important; */
    display: flex;
    flex-direction: column;
}
#selector  {
/*     min-height: 1000px !important; */
    flex-grow: 1
    
}




.hidden{
    display: none !important;
}

hr.full{
    
}

.full_width {
    width: 100%
}
.flex_grow {
    flex-grow: 1;
}
.flex_basis_100 {
    flex-basis: 100%
}
.sharp {
    border-radius: 0 !important;
}

._1em{
    display: inline-block;
    width: 1em;
/*     margin-right:1em;
    background:red */
}
._05em{
    display: inline-block;
    width: .5em;
/*     margin-right:1em;
    background:red */
}

fieldset{
    height: 100%;
    padding: 0;
    border:none
/*     margin: .5em */
}
input[type="text"],textarea{
    background: var(--bg2);
    border: 1px solid var(--border)
}
button, select {
/*     color: var(--bg); */
    cursor: pointer;
    padding: 2px .6em;
    font-weight: bold;
    font-family: monospace !important;
    font-size: 1.1em !important;
    
/*     color: ; */
    border: none;
    background: var(--bg2);
    outline: 1px solid var(--border);
    border-radius: 4px;
}
button:hover{
    
    background: var(--tip);
    color: #000;
    outline: 1px solid transparent;
    border-radius: 4px;
}
input[type="range"] {
    width: 100%;
    margin: 0;
}

input[type="radio"].icon_only{
    display: none;
}

input[type="radio"].icon_only + label
,button.icon_only{
/*     background: yellow; */
    margin: 0 .2em;
    padding: .2em .4em;
    cursor: pointer;
    border-radius: 4px
}
input[type="radio"].icon_only + label:hover
,button.icon_only:hover{
    outline: 1px solid var(--border);
}

input[type="radio"].icon_only:checked + label{
/*     display: none; */
    background: var(--bg2);
    outline: 1px solid;
}
input[type="checkbox"] {
    display: none
}
input[type="checkbox"] + label {
    cursor: pointer
}
input[type="checkbox"] + label > .fa-square-check,
input[type="checkbox"] + label > .fa-square
{
    display: none
}
input[type="checkbox"]:checked + label > .fa-square-check {
    display: inline-block;
    color:  var(--tip)
}
input[type="checkbox"]:not(:checked) + label > .fa-square {
    display: inline-block
}


button.icon_only{
    background: none;
    outline: none;
/*     padding: .2em .3em; */
}
button.icon_only:hover{
    color: var(--t);
    background: var(--bg2)
/*     outline: 1px solid; */
}
.icon_del{
    color: var(--tip)
}
.icon_del:hover{
    color: var(--tip) !important;
}


#header{
    min-height: 4em;
/*     background: var(--bg); */
    border-bottom: 1px solid var(--border);
    margin-bottom: .2em
}

#navbar,
#customizer{
    outline: 1px solid var(--border);
    border-radius: 4px;
    margin: .3em;
/*     padding: 0 1em; */
    min-height: 100vh;
    background: var(--bg)
}

#navbar {
    padding: 0;
    max-width: 240px;
    background: var(--bg)
}
#navbar fieldset{
    padding: 0;
/*     overflow: hidden */
    height: max-content
}
#navbar fieldset button.icon_only{
    font-size: 1em !important;
}
#navbar button.icon_only:disabled{
    opacity: 0;
    cursor: default
}

#selector {
    display: flex;
}
#selector > div{
   display: inline-block
}

.selector_comp {
    display: inline-block;
/*     width: 120px; */
    width: 100%;
    margin: .3em .5em;
/*     max-width: min-content; */
}
.selector_comp input:not(:checked) ~ label {
    opacity: .8;
  text-decoration: line-through;
}
.selector_comp input,
.selector_comp label {
    cursor: pointer;
}



#navbar > div {
    position: sticky;
    top: 0
}

#customizer {
    width: 350px;
}
#customizer > div > *,
#navbar .itm_heading_main
{
    padding: 0 1em;
}
#customizer fieldset {
   padding: 0
}
#customizer h3{
    color:var(--tip)
}


#navbar{
    margin-right: 0;
    margin-left: 0;
    border-radius: 0 0 4px 4px
}
#customizer{
    margin-left: 0;
    border-radius: 0 4px 4px 4px
}




#preview
{
    flex-grow: 1;
    margin: 2em;
}
#preview:before{
    content: "PREVIEW";
    position: absolute;
}
#preview > div {
    
    position: sticky !important; 
    top: 1em;
}



.itm_heading{
    display: flex;
    margin: 1em .5em;
/*     margin-bottom: 0; */
}
.itm_heading h3,
.itm_heading h2
{
    margin: .5em;
    margin-right: 1em;
    flex-grow: 1
}
/* .itm_heading_main{ */
/*     margin-bottom: .25em !important; */
/* } */
/* #navbar h2, */
/* #customizer > div > .itm_heading */
.itm_heading_main{
    margin: 0;
    margin-bottom: .25em;
/*     padding: .6em 0 .5em .7em; */
    border-bottom: 1px solid var(--border);
    overflow: hidden
}
.itm_config_menu {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .8em !important;
    border-bottom: 1px solid var(--border)
}
.itm_config {
    margin-top: .6em;
    flex-grow: 1;
    display: inline-block;
    display: flex;
    align-items:center;
    justify-content:left;
}
.itm_config span, .itm_config label:not(.icon_only + label){
/*     margin-top: .2em; */
    margin-right: 1em;
    
}

.accrd_custom_item{
    border-left: 5px solid var(--tip);
    padding-left: 1em;
    transform: translateX(-1em);
    margin: 1.5em 0;
}
.accrd_custom_item > .accrd_title,
.accrd_custom_item > .accrd_content
{
    height: 2em;
/*     width: 350px; */
    width: 100%;
}
.accrd_custom_item > .accrd_content
{
    height: 90px
}

/* #customize_accordion .itm_config:last-child {
    width: 100%;
} */
/* #customize_accordion .itm_config_menu > :last-child {
    display: flex;
} */

/* #customize_accordion .itm_config_menu > :last-child > #accrd_width {
    flex-grow: 1
} */

.itm_config > label[for="accrd_width"] {
/*     width: 8em !important; */
    
/*     display: inline-block; */
}
.itm_config > #accrd_width {
/*     vertical-align: bottom; */
}



.add_itm_btn {
    width: 100%;
    margin: 1em 0
}


